<% 
  if(typeof serverConfig === 'undefined') {
    serverConfig = {
      "server_name": "???",
      "server_domain": "http://example.com",
      "server_port": 3000,
      "public_instance": false,
      
      "admin_user": "???",
      
      "maintenance": false
    }
  }
%>
<!doctype html>
<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
      <meta property="og:url" content="http://<%- serverConfig.server_domain %>"/>
      <meta property="og:type" content="website"/>
      <meta property="og:title" content="Home"/>
      <meta property="og:description" content="ここは<%- serverConfig.admin_user %>さんの掲示板です。"/>
      <meta property="og:image" content="http://<%- serverConfig.server_domain %>"/>
      <meta property="og:site_name" content="<%- serverConfig.server_name %>" />
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title><%- serverConfig.server_name %></title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="/style/style.css">
      <script>
        window.onload = () => {
          document.body.classList.remove("preload");
        }
      </script>
    </head>
  <body class="preload">
    <div id="columnsBox">
      <header>
        <%- include('header.ejs') %>
      </header>
      <h1><%- serverConfig.server_name %> (<%= include('version.ejs') %>)</h1>
      <main>
        <a href="/">Home</a>
        <h2>Auth</h2>
        <%= status %>
        <br/>
        <%= account.id %>を登録しますか？
        <br/>
        登録する場合は仮登録するときに使用したパスワードを入力してください。
        <br/>
        <form method="post" action="./<%= account.token %>/auth">
          <input type="password" min="8" placeholder="パスワードを入力してください。" id="submit_password" name="submit_password"/>
          <input type="submit" value="送信"/>
        </form>
      </main>
      <footer>
        <%- include('footer.ejs') %>
      </footer>
    </div>
  </body>
</html>