<meta property="og:url" content="http://<%- serverConfig.server_domain %>"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="<%- page_name %> - <%- serverConfig.server_name %>"/>
<meta property="og:description" content="ここは<%- serverConfig.admin_user %>さんの掲示板です。"/>
<meta property="og:image" content="http://<%- serverConfig.server_domain %>/image/logo"/>
<meta property="og:site_name" content="<%- serverConfig.server_name %>" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title><%- page_name %> - <%- serverConfig.server_name %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="/style/style.css">
<link rel="stylesheet" type="text/css" href="/style/style_v2.css">
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 