<% 
  if(typeof serverConfig === 'undefined') {
    serverConfig = {
      "server_name": "???",
      "server_domain": "http://example.com",
      "server_port": 3000,
      "public_instance": false,
      
      "admin_user": "???",
      
      "maintenance": false
    }
  }
%>
<!doctype html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta property="og:url" content="http://<%- serverConfig.server_domain %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Home"/>
    <meta property="og:description" content="ここは<%- serverConfig.admin_user %>さんの掲示板です。"/>
    <meta property="og:image" content="http://<%- serverConfig.server_domain %>/image/logo"/>
    <meta property="og:site_name" content="<%- serverConfig.server_name %>" />
    <meta name="twitter:card" content="summary"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- serverConfig.server_name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <script>
      window.onload = () => {
        document.body.classList.remove("preload");
      }
    </script>
  </head>
  <body class="preload">
    <header>
      <%- include('header.ejs') %>
    </header>
    <div id="columnsBox">
      <h1><%- serverConfig.server_name %> (<%= include('version.ejs') %>)</h1>
      <main>
        <h2>Threads</h2>
        <ul class="threads">
          <% for (var i = 0; i < threads.length; i++) {%>
            <li>
              <a href="/thread/<%= threads[i].id %>"><%= threads[i].name %></a>
            </li>
          <% } %>
        </ul>
        <h2>Account</h2>
        <ul>
          <% if(account !== null){ %>
            <li>
              <a href="/logout">Logout</a>
            </li> 
            <li>
              <a href="/settings">Settings</a>
            </li> 
          <% } else{ %>
            <li>
              <a href="/login">Login</a>
              <li>
                <a href="/register">Register</a>
              </li> 
            </li> 
          <% } %>
        </ul>
        <h2>Infomation</h2>
        <ul>
          <li>
            <a href="/tos">Term of Service</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
        </ul>
        <br/>
      </main>
      <footer>
        <%- include('footer.ejs') %>
      </footer>
    </div>
  </body>
</html>