<!doctype html>
<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
      <meta property="og:url" content="https://bbs.mf7cli.potp.me"/>
      <meta property="og:type" content="article"/>
      <meta property="og:title" content="Settings - Thread"/>
      <meta property="og:description" content="ここはmf7cliさんの掲示板です。"/>
      <meta property="og:image" content="https://bbs.mf7cli.potp.me/image/logo"/>
      <meta property="og:site_name" content="mf7cli-BBS" />
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Settings - mf7cli-BBS</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="/style/style.css">
      <script>
        window.onload = () => {
          document.body.classList.remove("preload");
        }
      </script>
  </head>
  <body class="preload">
    <div id="columnsBox">
      <header>
        <%- include('header.ejs') %>
      </header>
      <h1>mf7cli-BBS (<%= include('version.ejs') %>)</h1>
      <main>
        <a href="/">Home</a>
        <br/>
        <h2>Profile settings</h2>
        <br/>
        <% if(status){ %>
          <%= status %>
        <% } %>
        <br/>
        <%= account.id %>でログイン中
        <a href="/users/<%= account.id %>">プロフィールを見に行く</a>
        <h3>自己紹介</h3>
        <form method="post" action="/settings/profile/set_bio">
          <textarea placeholder="自己紹介を入力してください。" class="submit_text" maxlength="100" id="submit_text0" name="submit_text"><%= account.bio %></textarea>
          <br/>
          <input type="submit" value="送信"/>
        </form>
        <h3>リンク</h3>
        <form method="post" action="/settings/profile/set_link">
          <textarea placeholder="リンクをコンマか改行区切りで入力してください。" class="submit_text" maxlength="100" id="submit_text0" name="submit_text"><%= account.link %></textarea>
          <br/>
          <input type="submit" value="送信"/>
        </form>
        <h3>アイコン</h3>
        <form method="POST" enctype="multipart/form-data" action="/upload/icon">
          ファイルサイズの上限は1MBです。
          <br/>
          <input type="file" id="img_file" name="img_file" class="form-control" />
          <input type="submit" value=" 送信 " />
        </form>
        <br/>
        <img src="<%= account.icon %>"/>        
        <br/>
        リンク(読み取り専用): 
        <input placeholder="アイコンのリンクがありません" type="text" maxlength="100" id="submit_text0" name="submit_text" value="<%= account.icon %>" disabled/>
        <br/>
        <br/>
      </main>
      <footer>
        <%- include('footer.ejs') %>
      </footer>
    </div>
  </body>
</html>