<% 
  let i = message.length - 1
  if(typeof serverConfig === 'undefined') {
    serverConfig = {
      "server_name": "???",
      "server_domain": "http://example.com",
      "server_port": 3000,
      "public_instance": false,
      
      "admin_user": "???",
      
      "maintenance": false
    }
  }
%>
<!doctype html>
<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
      <%- include('head.ejs', {
          serverConfig,
          page_name: `#${thread.name}`
        })
      %>
      <%- include('scripts/thread.ejs', {
        serverConfig, 
        thread,
        message,
        msg_length,
        status,
        md,
        db,
        account,
        cookies,
        users_data,
        i
        })
      %>
      <%- include('scripts/thread_new_ui.ejs') %>
      <link rel="icon" type="image/png" href="/image/logo_circle" id="fav"/>
    </head>
  <body class="preload">
    <header>
      <%- include('header.ejs') %>
    </header>

    <!-- 全画面ローディング -->
    <div class="loader-wrap">
      <div class="loader"></div>
    </div>
    
    <!-- メニューバー -->
    <aside>
      <h2>threads</h2>
      <div id="threadList"></div>
      <!-- 通知リストを追加予定 -->
    </aside>
    <div id="columnsBox">
      <main>
        <div class="loader-wrap2 loaded">
        <div class="loader"></div>
      </div>
        <a onclick="pageTransition('home')">Home</a>
        <br/>
        <h2 class="pageName">#<%= thread.name %></h2>
        <% if(status){ %>
        <span id="status" style="transition: all 1.0s;" data-content="<%- status %>">
          <%- status %>
        </span>
        <% } else { %>
        <span id="status" style="transition: all 1.0s;" data-content="">
        </span>
        <% } %>
        <br/>
        <div id="inputForm">
          <textarea placeholder="テキストを入力してください。" class="submit_text" maxlength="150" id="submit_text0" name="submit_text"></textarea>
          <br/>
          <input type="button" onclick="submit()" id="submit_button" value="送信"/>
        </div>
        <ul id="messages">
          <%
            function sleep(waitMsec) {
              var startMsec = new Date();
            
              // 指定ミリ秒間だけループさせる（CPUは常にビジー状態）
              while (new Date() - startMsec < waitMsec);
            }
            for (i = message.length - 1; i >= 0; i--) {
              let message_text =  message[i].text;
            %>
            <div class="anker" id="<%= i %>"></div>
            <li>
              <div class="id">
                <a onclick="pageTransition('user', '<%= message[i].id %>')">@<%= message[i].id %></a>
                <br/>
                <img src="<%= users_data.icon[i] %>"/>
              </div>
              <div class="text"><%- message_text %></div>
                <div class="msg_menu">
                  <nav class="div-menu-nav">
                    <div class="menu-tab menu-hover1"><a class="menu-click">&nbsp;</a></div>
                    <div class="box1">
                      <div>                        
                        <a class="delete_button">🗑削除</a>
                        <a href="javascript:copyToClipboard('https://bbs.mf7cli.tk/thread/<%= thread.id %>#<%= i %>')">🗒リンクをコピー</a>
                      </div>
                      <div style="font-size: 12px; margin: 0.5em;" class="date">
                        <br/>
                        メッセージ番号: <%= i %>                        
                        <br/>
                        <% if(message[i].date){
                          let date = new Date(message[i].date);
                          let min;
                          date.setHours(date.getHours() + 9);
                          if(String(date.getMinutes()).length === 1){
                            min = "0" + date.getMinutes();
                          }
                          else{
                            min =  date.getMinutes();
                          }
                        %>
                          送信された日時: <%- date.getFullYear() %>/<%- date.getMonth() + 1 %>/<%- date.getDate() %> <%- date.getHours() %>:<%- min %>
                        <% } else { %>
                          日付が保存されていないメッセージです。
                        <% } %>
                    </div>    
                  </div>
                </div>
              </nav>
            </li>
          <%
            }
          %>
        </ul>
      </main>
      <footer>
        <%- include('footer.ejs') %>
      </footer>
    </div>
    <div id="statusColumn">
      <%- include('status.ejs', {message_length: msg_length}) %>
    </div>    
  </body>
</html>