<%
  if(typeof serverConfig === 'undefined') {
    serverConfig = {
      "server_name": "???",
      "server_domain": "http://example.com",
      "server_port": 3000,
      "public_instance": false,
      
      "admin_user": "???",
      
      "maintenance": false
    }
  }
%>
<!doctype html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <%- include('head.ejs', {
        serverConfig,
        page_name: `@${account.id}`
      })
    %>
    <%- include('scripts/thread.ejs', {
      serverConfig, 
      thread,
      message,
      msg_length,
      status,
      md,
      db,
      account,
      cookies,
      users_data,
      i
      })
    %>
    <%- include('scripts/thread_new_ui.ejs') %>
    <link rel="icon" type="image/png" href="/image/logo_circle" id="fav"/>
  </head>
  <body class="preload">
    <header>
      <%- include('header.ejs') %>
    </header>

    <!-- 全画面ローディング -->
    <div class="loader-wrap">
      <div class="loader"></div>
    </div>
    
    <!-- メニューバー -->
    <aside>
      <h2>threads</h2>
      <div id="threadList"></div>
      <!-- 通知リストを追加予定 -->
    </aside>
    <div id="columnsBox">
      <main>
        <div class="loader-wrap2 loaded">
        <div class="loader"></div>
      </div>
        <a onclick="pageTransition('home')">Home</a>
        <br/>
        <h2 class="pageName">@<%= account.id %></h2>
        <% if(status){ %>
        <span id="status" style="transition: all 1.0s;" data-content="<%- status %>">
          <%- status %>
        </span>
        <% } else { %>
        <span id="status" style="transition: all 1.0s;" data-content="">
        </span>
        <% } %>
        <br/>
        <% if(!account.icon) account.icon = "/image/default_icon" %>
        <img style="width: 100px; height: 100px;" src="<%= account.icon %>" id="profileIcon"/>
        <div id="inputForm" class="userPage">
          <textarea placeholder="テキストを入力してください。" class="submit_text" maxlength="150" id="submit_text0" name="submit_text"></textarea>
          <br/>
          <input type="button" onclick="submitUserLog()" id="submit_button" value="送信"/>
        </div>
        <ul id="profileBio">
          <% if(account.bio){ %>
            <% let bio = account.bio.replace('\n', '<br/>') %>
            <li>
              <% let bios = account.bio.split('\n');  %>
              <% for (var i = 0; i < bios.length; i++) {%>
                <%= bios[i] %>
                <br/>
              <% } %>
            </li>
          <% } else{ %>
            <li>自己紹介がありません。</li>
          <% } %>
        </ul>
        <ul id="messages"></ul>
      </main>
      <footer>
        <%- include('footer.ejs') %>
      </footer>
    </div>
    <div id="statusColumn">
      <%- include('status.ejs', {message_length: msg_length}) %>
    </div>    
  </body>
</html>