<!doctype html>
<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
      <meta property="og:url" content="https://bbs.mf7cli.tk"/>
      <meta property="og:type" content="website"/>
      <meta property="og:title" content="@<%= account.id %>さんのプロフィール"/>
      <meta property="og:description" content="ここはmf7cliさんの掲示板です。"/>
      <meta property="og:image" content="https://bbs.mf7cli.tk/image/logo"/>
      <meta property="og:site_name" content="mf7cli-BBS" />
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>mf7cli-BBS</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="/style/style.css">
      <script>
        window.onload = () => {
          document.body.classList.remove("preload");
        }
      </script>
    </head>
  <body>
    <div id="columnsBox">
      <header>
        <%- include('header.ejs') %>
      </header>
      <h1>mf7cli-BBS (<%= include('version.ejs') %>)</h1>
      <main>
        <a href="/">Home</a>
        <br/>
        <h2>@<%= account.id %>さんのプロフィール</h2>
        <br/>
        <h3>自己紹介</h3>
        <ul>
          <% if(account.bio){ %>
            <% let bio = account.bio.replace('\n', '<br/>') %>
            <li>
              <% let bios = account.bio.split('\n');  %>
              <% for (var i = 0; i < bios.length; i++) {%>
                <%= bios[i] %>
                <br/>
              <% } %>
            </li>
          <% } else{ %>
            <li>自己紹介がありません。</li>
          <% } %>
        </ul>
        <h3>リンク</h3>
        <ul>
          <% if(account.link){ %>
            <% let link = account.link.split(','); console.log(link); %>
            <% for (var i = 0; i < link.length; i++) {%>
              <li><a href="<%= link[i].replace('javascript:', '') %>"><%= link[i].replace("javascript:", "") %></a></li>
            <% } %>
          <% } else{ %>
            <li>リンクがありません。</li>
          <% } %>
        </ul>
        <h3>バッジ</h3>
        <% if(account.badge && account.badge !== []){ %>
          <% let badges = account.badge; console.log(badges); %>
          <ul>
            <% for (var i = 0; i < badges.length; i++) {%>
              <div class="badges">
                <img src="/image/badges/<%= badges[i] %>.png" style="width: 100px; height: 100px;"/>
                <br/>
                <%= badges[i] %>     
              </div>
            <% } %>
          </ul>          
        <% } else{ %>
          <li>バッジがありません。</li>
        <% } %>
        <br/>
      </main>
      <footer>
        <%- include('footer.ejs') %>
      </footer>
    </div>
  </body>
</html>